.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-rock infinite 10s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
}


ul {
  background-color: #84D2F6;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: calc(10px + 2vmin);
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

li a:hover {
  background-color: #84D6ff;
}

li:last-child {
  border-right: none;
}



@keyframes App-logo-rock {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}





